@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
.principal img{
    margin-top: 2cm;
    width: 40%;
    margin-left: 3cm;
}
.principal div{
    margin-left: 20%;
    text-align: center;
    font-size: 50px;
}
h1{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 90px;
    margin-top: 2cm;
}
 .principal nav{
    list-style: none;

 }

 .principal li{
     margin-top: 2cm;
 }
 .navbar{
     height: 2cm;
     font-size: 30px;
     background-color: #a5766d !important;

    
 }
 .navbar-brand{
     margin-right: 300px;
 }

 .nav-item{
     margin-right: 200px;
 }
 a{
    color: antiquewhite !important;;
    margin-right: 1cm;
 }
.dropdown-item {
    color: black !important;
}
body{
    background-color:#e6c8c1 ;
}

.navbar-brand{
    font-family:'Cedarville Cursive', cursive ;
    font-size: 40px;
}
.preguntas{
  margin-left: 4cm;
}
 .preguntas h2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    margin-top: 5cm;

}
.preguntas .que{
    margin-left: 900px;
}
.newsletter{
    text-align: center;
     background-color: #a5766d ;
     height: 300px;
     padding-top: 20px;
     margin-top: 150px;
}
.newsletter input{
    width: 10cm;
    margin-right: 1cm;
}
.newsletter h1{
    width: 100%;
} 
.contacto h1{
    text-align: center;
    margin: auto;
    margin-top: 1cm;
    
}
.contactanos img:hover{
    filter: invert(50%);

}
.dropdown-menu{
    border: white solid 1px;
    border-radius: 5px;
}
.dropdown-item:hover{
    border-radius: 10px;
}

.dropdown-item {
    color: black !important;
    font-size: 30px !important;
    border-radius: 10px;
    

}
.dropdown-item:hover{
    background-color: #e6c8c1 !important;
}
.dropdown-menu {
    background-color: #a9aa93 !important;
}
.preguntas h2{
    font-size: 60px;
}
.preguntas p{
    font-size: 40px;
    font-family: 'Inconsolata', monospace;

}

.texto li{
    font-family: 'Inconsolata', monospace;
}
@media(max-width:1968px){
    .navbar-brand{
        margin-right: 200px;
    }
    .nav-item{
        margin-right: 100px;
    }

}
@media(max-width:992px){
    .navbar-brand{
        margin-right: 20px;
    }
    .nav-item{
        margin-right: 50px;
    }
    


}
